<ng-container *ngIf="check_in">
  <div class="content_form">
    <div class="img_form">
      <img class="img_form_title" src="/assets/img/img_contenido.jpg"/>
      <img class="img_form_pikachu" src="/assets/img/pikachu2.png"/>
    </div>
    <form class="form_pokemon" (ngSubmit)="handleForm(form_pokemon)" #form_pokemon="ngForm">
      <input
        type="text"
        id="name"
        placeholder="Escribe tu nombre"
        ngModel
        name="name"
        required
      >
      <input
        type="email"
        id="email"
        placeholder="Escribe tu correo"
        ngModel
        name="email"
        email
      >
      <input
        type="password"
        id="password"
        placeholder="Escribe tu contraseña"
        ngModel
        name="password"
        required
      >
      <input
        type="password"
        placeholder="Repite tu contraseña"
        ngModel
        name="pass"
        required
      >
      <button
        type="submit"
      >Registrar</button>
    </form>
    <div class="img_end">
      <img src="/assets/img/img_side.jpg"/>
    </div>
    <div class="messages">
      <h4>{{messages}}</h4>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="log_in">
  <div class="content_form">
    <div class="img_form">
      <img class="img_form_title" src="/assets/img/img_contenido.jpg"/>
      <img class="img_form_pikachu" src="/assets/img/pikachu2.png"/>
    </div>
    <form class="form_pokemon" (ngSubmit)="handleForm(form_pokemon)" #form_pokemon="ngForm">
      <input
        type="email"
        id="login_email"
        placeholder="Ingresa tu correo electronico"
        ngModel
        name="login_email"
        email
      >
      <input
        type="password"
        id="login_password"
        placeholder="Ingresa tu contraseña"
        ngModel
        name="login_password"
        required
      >
      <button
        *ngIf="log_in"
        type="submit"
      >Entrar</button>
    </form>
    <div class="img_end">
      <img src="/assets/img/img_side.jpg"/>
    </div>
    <div class="messages">
      <h4>{{messages}}</h4>
    </div>
    <p>No te has registrado? <a (click)="checkIn()" class="checkin">registrarte aqui</a></p>
  </div>
</ng-container>
