<ng-container>
  <div class="content_form">
    <div class="img_form">
      <img class="img_form_title" src="/assets/img/img_contenido.jpg"/>
      <img class="img_form_pikachu" src="/assets/img/pikachu2.png"/>
    </div>
    <form class="form_pokemon" (ngSubmit)="handleForm(form_pokemon)" #form_pokemon="ngForm">
      <input
        *ngIf="show_input_name"
        type="text"
        id="name"
        placeholder="Escribe tu nombre"
        ngModel
        name="name"
        required
      >
      <input
        type="email"
        id="email"
        placeholder="{{placeholder_name}}"
        ngModel
        name="email"
        required
      >
      <input
        type="password"
        id="password"
        placeholder="{{placeholder_password}}"
        ngModel
        name="password"
        required
      >
      <input
        *ngIf="show_input_pass"
        type="password"
        placeholder="Repite tu contraseña"
        ngModel
        name="pass"
        required
      >
      <button
        *ngIf="log_in"
        type="submit"
      >Entrar</button>
      <button
        *ngIf="check_in"
        type="submit"
      >Registrar</button>
    </form>
    <div class="messages">
      <h4>{{messages}}</h4>
    </div>
    <div class="img_end">
      <img src="/assets/img/img_side.jpg"/>
    </div>
    <p *ngIf="show_message">No te has registrado? <a (click)="checkIn()" class="checkin">registrarte aqui</a></p>
  </div>
</ng-container>
